div {
    font-family: "IBM Plex Sans Thai", sans-serif;
}

h3{
    font-family: "IBM Plex Sans Thai", sans-serif;
}

label {
    font-family: "IBM Plex Sans Thai", sans-serif;
}

input {
    font-family: "IBM Plex Sans Thai", sans-serif;
}

small{
    font-family: "IBM Plex Sans Thai", sans-serif;
}